
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" media="all" href="/assets/application-0bc9fa299f842cf6916381730e0ec88ef0d21897e9dc354c13b2309720bdd2d1.css" />
    <link rel="stylesheet" media="print" href="/assets/print-3c13e06d536c586f777c851c8f286a899ecb9b666d3261bb3b2b0c16384eceee.css" />
    <title>Transaction b66y08b8 - Braintree Gateway</title>
  </head>
  <body id="home">
    <div class="container_12" id="wrapper">
      <div id="content" class="grid_10 prefix_1 suffix_1 center">
        
        

<h2 class="receipt">
  Transaction b66y08b8
  <a class="btn btn_primary" data-track="Click Transaction Receipt Print" href="javascript:window.print();">Print</a>
</h2>

<div class='block'>
  <h3>Transaction Information</h3>

  <dl class="detail_list long">
    <dt>Merchant</dt>
    <dd>{account}t</dd>


    <dt>Amount</dt>
    <dd class="amount_positive">
      10,00 € EUR
    </dd>

    <dt>Transaction Date</dt>
    <dd>
      Mar 15 2020, 07:43 PM CDT
    </dd>





      <dt>Authorization Code</dt>
      <dd>YBHDX3</dd>

    <dt>Status</dt>
    <dd class="positive">
      Submitted For Settlement
    </dd>

  </dl>
</div>

<div class='block'>
  <h3>Payment Information</h3>

  <dl class="detail_list long">
    <dt>Payment Type</dt>
    <dd>Credit Card</dd>
    
    
  <dt>Card Type</dt>
  <dd>Visa</dd>

  <dt>Cardholder Name</dt>
  <dd></dd>

  <dt>Credit Card Ends With</dt>
  <dd>
    <span id="masked_number">
      1111
    </span>
  </dd>

  </dl>
</div>





      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
